.container{
}
header{
  width: 100%;
  border:1px solid black;
   
}
#logo{
  border:1px solid black;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
}
.navbar{
    border:1px solid black;
   padding-top: 28px;
   padding-left: 70px;
  }
.navbar nav ul li{
  display: inline-block;
}

.navbar nav ul li a{
      color: #929292;
    font-size: 20px;
  padding-left: 56px;
  text-decoration-color:#FDC600;
  text-decoration-line: 
}


 .lgbtn{
    border:1px solid black;
  
padding-top: 33px;
    
  }
  .lgbtn nav ul li{
  display: inline-block;
  padding-left: 9px;
}
   #signInBtn{
  border:1px solid black;
  background-color:#c2c2c2;
    padding: 15px 20px ;
    color: white;
    text-decoration: none;
    }
  #loginInBtn{
    border:1px solid black;
  background-color: #FDC600;
    padding: 15px 20px ;
    color: white;
    text-decoration: none;

    }

#home{
  font-size: 20px;
} 
 

  #banner-section{
    width: 100%;
    height: 658px;
    border:1px solid black;
    background:url();
    background-repeat: no-repeat;
    background-size: 100%,100%;
    position: relative;
    opacity: 0.6px;
  }
  .banner-text{
    border:1px solid black;
    position: absolute;
    transform: translate(-45%);
    top:120PX;
    left:50%;
    width:900PX;
    text-align: center;
  }
  .banner-text nav ul li {
   display: inline-block;
  }
  .banner-text nav ul li a{
   color:yellow;
   border: 1px solid white;
   width: 150px;
   height: 50px;
   text-align: center;
   padding-top: 12px;
   background-color: black;
  float: right;
  }
  #heading{
    padding-top: 100px;
    text-align: center;
  }
  p{
    text-align: center;
  }
  input{
     width: 500px;
     height: 50px;
    border-radius: 5px;
  }
  /*banner-down section*/
  .banner-down{
    width: 100%;
    border:1px solid black;
  }
  .banner_section2{
     height: 120px;
    border:1px solid black;
  }
  #heading2{
    padding-top: 10px;
    text-align: center;
  }


  /*end*/

  #s{
  /* The search text box. */
  
  border:none;
  color:#888888;
  background:url() no-repeat;
  
  
  font-family:Arial,Helvetica,sans-serif;
  font-size:15px;
  height:36px;
  line-height:36px;
  outline:medium none;
  padding:0 0 0 35px;
  text-shadow:1px 1px 0 white;
  width:385px;
}
#submitButton{
  background:url() no-repeat;
  width:83px;
  height:36px;
  text-indent:-9999px;
  overflow:hidden;
  text-transform:uppercase;
  border:none;
  cursor:pointer;
}

#submitButton:hover{
  background-position:left bottom;
}


/*boximages*/
  
  .boximage{
    width: 100%;
    border:1px solid black;
  }
  .col-md-4 #img1{
border:1px solid black;
  }
/*end*/
/*ragistration area*/
  .register-area{
    background-color: rgb(249, 249, 249);
     padding: 40px;
  }
  .box-for{
    padding: 10px 0px;
    border: 1px solid #EEE;
    transition: all 0.2s ease 0s;
    box-shadow: none;
    background-color: #FFF;
}
.box-for h2{
  display: inline-block;
    text-transform: uppercase;
    margin-bottom: 15px;
    background: transparent none repeat scroll 0% 0%;
    border-bottom: 2px solid #FDC600;
    font-size: 20px;
    line-height: 30px;
}

.login-social{
    background-color: #FDC600;
    border: 1px solid black;
    font-size: 23px;
     display: inline-block;
     font-size: inherit;
}
.login-social a:hover {
    text-decoration: none;
    color: white;
}
.login-social i {
    font-size: 40px;
    color: white;
}
.btn{
  border-radius: 1px;/**/
    border: 1px solid #FDC600;
    color: #000;
    background-color: #FDC600;
    border-color: #F0F0F0;
    font-weight: 600;

}

/*end*/

  /*footer area*/

  .footer-area{
border-top: 1px solid #D1D1D1;
background: #555 url("./images/bg-footer.jpg") repeat scroll 0% 0%;
color: #535353;
}
.footer{
padding: 0px 0px 60px;
background: rgba(255, 255, 255, 0.89) none repeat scroll 0% 0%;
}
.footer ul li i { 
    padding-right: 10px;
    color: #000;
} 
.footer-copy{
    background: rgba(213, 213, 213, 0.9) none repeat scroll 0% 0%;
    border-top: 0.051px solid rgba(162, 162, 162, 0.46);
    padding-bottom: 0px;
    padding-bottom: 7px;
    padding-top: 7px;
}
.single-footer{
    margin-top: 35px
}
.footer img{
    margin-bottom: 20px;
}
.footer p{  
    line-height: 25px;
    font-size: 13px;
    padding-bottom: 20px;
}
.footer h4{
    color: #717171;
    font-weight: 400;
    margin-top: 0px;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #878787;
    line-height: 35px;
    margin-bottom: 0px;
    letter-spacing: 2px;
}
.footer h4 span{
    border-bottom: 3px solid #FDC600;
}
.footer-title-line {
    width: 100px;
    height: 2px;
    background: #FFA600;
    margin: 0px 0px 33px;
    position: relative;
    top: -2px;
}
.footer h5{
    color: #fff;
    margin-top: 20px;
    font-weight: 700;
}
.footer a{
    color: #fff;
}
.footer ul{
    padding: 0px;
    margin: 0px;
}
.footer  ol, .footer ul {
    list-style: outside none none;
}

.footer ul li{
    margin-bottom: 5px
}
ul.footer-adress li {
    margin-bottom: -4px;
}
ul.footer-adress li i{
    font-size:20px
}


.footer ul li a{
color: #535353;
font-weight: 500;
text-transform: uppercase;
font-size: 13px;
}
.footer ul li a:hover{
    color: #FDC600;
    text-decoration: none;
}
.footer-menu li{
  border-bottom: 1px solid rgba(255, 171, 0, 0.31);
}

.footer-copy span{
    margin-right: 20px; 
    font-size: 13px;
}
.footer-copy span a{
    color: #000;
    font-weight: 500;
} 
.footer img{
    height: 32px;
}
ul.footer-blog li {
    width: 100%;
    display: table;
    margin-bottom: -20px;
}
.footer-blog img {
    width: 100%; 
    height: 60px;
    margin-bottom: 0px;
}
.footer-blog .blg-entry h6 a{   
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 600; 
    color: #FFA600;
}
.footer-blog .blg-entry h6 {
    padding: 2px 0px;
    margin: 0px;
}
.footer-blog .blg-date {
    color: #FFF;
    background-color: #AD7206;
    padding: 2px 3px;
    font-size: 11px;
    position: relative;
    top: -22px;
    width: 100%;
}
.footer-blog .blg-thumb img{
    
}

.footer-blog p {
    line-height: 17px;
    padding: 8px 2px;
}
.news-letter .form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #E1E1E1;
    background-color: rgba(255, 255, 255, 0.52);
    background-image: none;
    border: 1px solid rgba(231, 157, 45, 0.3);
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(179, 179, 179, 0.1) inset; 
}
.news-letter .form-control:hover ,.news-letter .form-control:focus{
    background-color: rgba(0, 0, 0, 0.1);
}
.footer .subscribe{ 
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 22px;
    font-size: 14px;
    margin-left: -17px;
    z-index: 99;
    background-color: #FFA600;
    border-color: #FFA600;
}
.footer .subscribe:hover{
    background-color: #2D2D2D;
    border-color: #2D2D2D;
}

/*social*/
.social ul {
    padding: 0px;
    list-style: outside none none;
}
.social li {
    display: inline-block;
    padding-right: 0.3em;
    padding-bottom: 0.3em;
}
.social  ul li a:hover {
    color: #FDC600;
order-color: #868686;
background-color: #868686;
}
.social  ul li a:hover i{
   color: #FDC600;  
}
.social ul li a{
display: block;
width: 40px;
height: 40px;
line-height: 40px;
border-radius: 50%;
border: 1px solid rgb(146, 146, 146);
transition: all 0.8s ease 0s;
color: rgb(146, 146, 146);
}
.social ul li a i{
color: rgb(146, 146, 146);
font-size: 20px;
padding: 10px;
}

/*CONTACT*/
.content-area{
  background-color: #FFF;
}
.contact-us h3{
font-size: 28px;
    margin: 20px 0 10px;
    
}
.banner{
  width: 100%;
  border: 1px solid black;
  background-image: url('./images/slide1/slider-image-1.jpg');
  background-size: cover;
  height: 777px;
padding-top: 120px;
}
.banner-section{
  text-align: center;
  border: 1px solid black;

}
.banner-section h1{
  font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: rgba(255, 165, 0, 0.71);
    font-weight: 500;
}

.banner-section p{
  font-size: 14px;
    margin-bottom: 60px;
    color: rgb(110, 110, 110);
}

.search-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 0;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 9;
}
element.style {
    visibility: visible;
    animation-delay: 0.8s;
    animation-name: pulse;
}
 
    .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: inherit;
    line-height: 1;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}


.form-inline{
  display: inline;
}
.btn toggle-btn{
  background-color: #FDC600;
    color: #333;
    font-size: 16px;
    border: 1px solid #EAE9E9;
    width: 40px;
    height: 40px;
    color: #FFF;
    transition: all 0.3s ease 0s;
    padding: 0px;
}
.btn{
  font-weight: 400;
    opacity: 0.8;
}
.form-control{
  background: rgba(252, 252, 252, 0.35);
    height: 40px;
    margin-right: 10px;
    
}
.search-toggle{
  display: none;
}
.content-area {
  padding-bottom: 60px;
   background-color: rgb(252, 252, 252);
}